html, body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.window {
  background-color: rgb(148, 193, 245);
  padding: 1px;
  flex: 1;
  text-decoration: none;
  color: darkblue;
  font-size: 20px;
}

#TitleNote{
text-decoration: underline;
font-family: sans-serif;
font-style: oblique;
}

.Butt {
  font-weight: 1000; /*работа с текстом*/
  font-size: 12px;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  color: white;
  text-decoration: none;
  background: rgb(38, 102, 221);
  box-shadow: 0 -3px rgb(43, 27, 133) inset;
  transition: 0.2s;
}
.Butt:hover {
  background: rgb(45, 199, 226);
}
.Butt:active {
  background: rgb(24, 178, 224);
  box-shadow: 0 3px rgb(55, 182, 233) inset;
}

.MainWind{
display: flex;
flex-direction: row;
flex: 4;
height: 80%;
}

#ListOfNote{
background-color: rgba(8, 16, 92, 0.882);
flex: 3;
height: 100%;
overflow-y: scroll;

margin: 0;
list-style-type: square;
}

#Text{
 flex: 9;
 background-color: rgba(8, 16, 92, 0.882);
 color: floralwhite;
 padding: 10px;
 resize: none;
 outline: none;
 border: none;
 margin: 0;
 flex-direction: row;
 overflow-y: scroll;
 font-size: 20px;
 font-family: monospace;
}

.Note{
flex-direction: column;
flex-wrap: wrap;
background-color: rgb(38, 101, 218);
outline: none; /*обводка*/
height: 75px;
border-bottom: 1px solid; 
margin-bottom: 2px;  /*отступы от соседних елементов*/
padding: 10px;  /*отступы внутренних елементов*/
}

.Note[choosen = true]{
    background-color: rgba(78, 199, 255, 0.945);
}
